/* Import fonts */
/* @import url("../fonts/ptsans/ptsans.css");
/* Reset and normalize */
@import url("../css/normalize.css");
html * {
  font-family: PT Sans;
}

.title {
  font-family: Playfair Display Black, Bodoni MT, Georgia, Cambria, serif;
  text-align: left;
  font-size: 2.2em;
  font-weight: 900;
  color: #ffffff;
  text-shadow: -1px -2px #f75c49, 1px 2px #000000;
  letter-spacing: 1px;
  transition: 0.2s;
}
.title:hover {
  text-shadow: -1.7px -2px #f75c49, 1.7px 2px #000000;
  color: #eeeeee;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 25px;
}

header {
  padding: 0 80px;
}

section {
  padding: 0 80px;
}
section form {
  font-size: 0.8em;
}
section form input {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  vertical-align: bottom;
  position: relative;
  top: 1px;
}
section form label {
  padding-left: 5px;
  color: gray;
}
section form label:hover {
  color: black;
}
section form input:checked + label {
  color: black;
}

.card {
  box-shadow: 0px 4px 10px 0px #c7c7c7;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  padding: 10px 0px 30px;
}

hr {
  margin: 25px 260px;
  border-top: 1px solid black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.row input {
  font-size: 0.7em;
  padding: 8px 4px;
  border: 1px splid gray;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  color: black;
}

nav.menu li {
  float: left;
}
nav.menu a {
  font-size: 1.2em;
  display: block;
  padding: 7px 25px 7px 0px;
  color: #f75c49;
}

nav.table-pages {
  margin-top: 30px;
  margin-left: 20px;
}
nav.table-pages a {
  margin-right: 10px;
}

button {
  color: #f75c49;
  padding: 7px 17px;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  border: 1px solid #f75c49;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #fff 50%, #f75c49 50%);
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover,
button:focus {
  background-position: 0 100%;
  color: #fff;
}

#add-teacher {
  font-size: 1em;
}

.grid-top {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: auto;
  padding: 10px;
}

.grid-item {
  text-align: center;
  padding: 5px 0;
  font-size: 30px;
  margin-bottom: 10px;
}

img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  text-align: center;
  color: #f75c49;
  line-height: 100px;
}

figure {
  padding: 0;
  margin: 0;
}
figure figcaption {
  margin-top: 10px;
  font-size: 0.6em;
}
figure figcaption.country {
  margin-top: 10px;
  font-size: 0.4em;
}

.scale {
  border-radius: 100%;
  border: 3px solid #f3927e;
  display: inline-block;
  overflow: hidden;
}

.scale img {
  transition: 0.5s;
  display: block;
}

.scale img:hover {
  transform: scale(1.1);
  color: #f37056;
}

.scale:hover {
  border-color: #f37056;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
table .normal {
  text-align: left;
  padding-left: 20px;
}
table th {
  background-color: white;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
table th a {
  display: block;
  color: black;
}
table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
table td {
  font-size: 0.8em;
  padding: 10px 0 10px 0;
}

.grid-favorites {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: auto;
  padding: 10px;
  flex-grow: 1;
}

p {
  font-size: 0.8em;
  margin: 20px 0px;
}

footer {
  padding-top: 10px;
  padding: 0 80px;
}

.footer-menu li a {
  color: #49aae7;
}

#favorites {
  padding: 0px 0px;
}

.arrow:hover {
  fill: black;
}

#left-arrow {
  fill: gray;
  float: left;
  transform: rotate(180deg) scale(150%);
  align-self: center;
  margin-left: 50px;
}

#right-arrow {
  fill: gray;
  float: right;
  transform: scale(150%);
  align-self: center;
  margin-right: 50px;
}

.with-arrows {
  display: flex;
}

#name:target {
  border-bottom: 4px solid black;
  background-color: #e8e6e6;
}

#age:target {
  border-bottom: 4px solid black;
  background-color: #e8e6e6;
}

#gender:target {
  border-bottom: 4px solid black;
  background-color: #e8e6e6;
}

#nationality:target {
  border-bottom: 4px solid black;
  background-color: #e8e6e6;
}

.main-row {
  padding-top: 10px;
}

#form-block {
  z-index: 101;
  width: 400px;
  padding: 25px 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 1px solid black;
}
#form-block h2 {
  font-size: 2.6em;
  margin: 10px 0;
}
#form-block input[type=submit] {
  color: #f75c49;
  padding: 10px 0;
  margin: 30px 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  border: 1px solid #f75c49;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #fff 50%, #f75c49 50%);
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}
#form-block input[type=submit]:hover,
#form-block input[type=submit]:focus {
  background-position: 0 100%;
  color: #fff;
}
#form-block #male {
  margin-right: 15px;
}
#form-block label {
  float: left;
  margin-bottom: 5px;
  margin-top: 15px;
}
#form-block .right-aligned {
  float: right;
}
#form-block input[type=number] {
  -moz-appearance: textfield;
}
#form-block input,
#form-block select {
  width: 100%;
}
#form-block input[type=radio] {
  width: 10%;
  margin-bottom: 5px;
  margin-top: 15px;
}
#form-block input[type=color] {
  width: 25%;
  padding: 0px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.form-cancel {
  float: right;
  position: relative;
  left: 45px;
}

.hover-background {
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}

#form-container {
  padding-top: 18%;
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 0px;
  left: 0px;
  right: 0px;
}

#info-container {
  padding-top: 18%;
  z-index: 101;
  position: absolute;
  width: 100%;
  height: 2000px;
  top: 0px;
  left: 0px;
  right: 0px;
}

#info-page {
  width: 800px;
  text-align: left;
  padding: 20px 40px;
  background-color: white;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}
#info-page h1 {
  font-size: 2.5em;
}
#info-page h2 {
  margin-bottom: 30px;
}
#info-page #image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 0;
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}
#info-page dd {
  padding: 10px 0;
}
#info-page #star {
  float: right;
  margin-right: 10px;
}
#info-page .form-cancel {
  float: right;
  position: relative;
  left: 20px;
}

/*# sourceMappingURL=app.css.map */
